# Virtual environment folders
Include/
Lib/
Scripts/
share/
pyvenv.cfg
.venv/
.lock

# Python cache & build files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.log
*.db
news_cache.json

# Environment variables & secrets
.env
.env.*
!.env.example

.env
secrets/
*.key
*.pem